{{!-- Customer side --}}

<h1> Scheduling! </h1>

<h2> Please pick the service you are interested in.</h2>

{{!-- <strong>ID</strong>: {{hair.id}}</p>
<strong>Service Provided</strong>: {{Hair.service_provided}}</p>
<ul>
    {{#each hair}}
    {{> hair/hair-block}}
    {{/each}}

</ul> --}}

<h3>Services:</h3>
        <ul id="hair-list" class="list-group">
          {{#each hair}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="hair/{{this.id}}">{{this.service_provided}}</a>
            
              <a href="hair/{{this.id}}">{{this.days_provided}}</a>
            </li>
          {{/each}}
          </ul>