<div class="card confCard" style="width: 40rem; height: 20rem;">
    <div class="card-body">
        <h5 class="card-title conf"><span class="conf">Thank you for scheduling your appointment!</span></h5>
        <p class="card-text">Your appointment for your {{hair.service_provided}}
            is scheduled for {{hair.days_provided}}
            The total for your appointment will be {{hair.current_price}}
            We hope that you enjoy, and {{hair.small_bio}}
            See you soon!</p>


        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
</div>





{{!-- <p> Thank you for scheduling your appointment!</p>

<p> Your appointment for your {{hair.service_provided}} </p>
<p> is scheduled for {{hair.days_provided}}</p>
<p> The total for your appointment will be {{hair.current_price}}</p>
<p> We hope that you enjoy, and {{hair.small_bio}}</p>

<p> See you soon!</p> --}}